.Rproj.user
.Rhistory
.RData
.Ruserdata
gt30w100n40.tif
gadm41_ECU_0.cpg
gadm41_ECU_0.dbf
gadm41_ECU_0.prj
gadm41_ECU_0.shp
gadm41_ECU_0.shx
gadm41_ECU_1.cpg
gadm41_ECU_1.dbf
gadm41_ECU_1.prj
gadm41_ECU_1.shp
gadm41_ECU_1.shx
gadm41_ECU_2.cpg
gadm41_ECU_2.dbf
gadm41_ECU_2.prj
gadm41_ECU_2.shp
gadm41_ECU_2.shx
gadm41_ECU_3.cpg
gadm41_ECU_3.dbf
gadm41_ECU_3.prj
gadm41_ECU_3.shp
gadm41_ECU_3.shx